
.container{
    min-height: 85vh;
    justify-content: center;
    display: flex;
    background-image: url("/static/img/back.jpg");
    flex-direction: column;
    height: 85vh;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}